.container {
    color: rgba(108, 45, 209, 0.568);
    font-size: x-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

h1 {
    color: pink;       
}

#janjao {
    color: blue;
    margin-top: 2em;
}